html,
body,
#root {
  height: 100%;
  margin: 0;
}

/* Background */
.bg {
  position: fixed;          
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-image: url("/src/assets/background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;             
}

/* Content */
.home {
  min-height: 100vh;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.home .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  z-index: 2;
}

.home h1 {
  font-size: 100px;
  font-weight: bold;
  margin: 0 0 20px 0;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  letter-spacing: 2px;
}

.home p {
  font-size: 1.3rem;
  opacity: 0.9;
  margin: 10px 0;
  max-width: 600px;
  line-height: 1.8;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  word-spacing: 0.1em;
}

.marquee {
  position: absolute;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  opacity: 0.28; /* subtle background text */
  font-size: 3rem;
  font-weight: bold;
  text-transform: lowercase;
}

.marquee span {
  display: inline-block;
  padding-left: 100%;
}

/* Left scrolling */
.marquee-left {
  top: 20%;
}

.marquee-left span {
  animation: marqueeLeft 45s linear infinite;
}

/* Right scrolling */
.marquee-right {
  bottom: 20%;
}

.marquee-right span {
  animation: marqueeRight 45s linear infinite;
}

/* Animations */
@keyframes marqueeLeft {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

@keyframes marqueeRight {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}


